/*
====================================================
Custom style for my new pages starts from here
====================================================
*/

.custom-card {
    border-radius: 3px;
    border-style: double;
}

.sidebar-bottom {
    position: fixed; 
    bottom: 0px; 
    padding: 5px;
}
